version: '3.8'

services:
  geo-tool:
    build: .
    container_name: geo_tool_ui
    ports:
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - ./output:/app/output
    restart: unless-stopped
